@tailwind base;
@tailwind components;
@tailwind utilities;

.inactive{
    display: none;
    /* color: lightcoral; */

}

/* .box{
    text-align: left;
    padding-left: 0px;
} */
#combinedChart {
    width: 250px;
    height: 250px;
}


#highlight {
    background-color: #b1adad;
    border: 1px solid #ccc; 
    padding: 15px;
    /* overflow: scroll; */
    white-space: pre-wrap; 
    max-width: 95%;
    overflow: scroll;
    margin-top: 1rem; /* This is equivalent to mt-4 */
    font-size: 0.875rem; /* This is equivalent to text-sm */
    max-height: 80%;
    border-radius: 10px;
}

.loader{
    background-color: aliceblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}
 
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid gainsboro; 
    border-top-color: cornflowerblue;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    form{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}